body {
    width:1440px;
    font-family:'Lato', sans-serif;;
    font-style: normal;
    margin:0;
    padding:0;
    top:0;
    position:absolute;
}
a {
    text-decoration: none;
    color:azure;
}
.cover-wrapper {
    width:inherit;
    height:700px;
    border-radius:25px;
    position: absolute;
    z-index:-2;
    background-image:url("../img/Coffe Header.png");
    background-repeat: no-repeat;
    background-size:cover;
}
    
nav {
    position: absolute;
    height:700px;
    border-radius:25px;
    background-color: rgba(20, 54, 66, 0.7);
    text-align: center;
    color: #F9FBFE;
    width:inherit;
}
/* .nav-menu {
    display:flex;
    justify-content: space-between;
    align-items:center;
} */
.left-content img{
    position: absolute;
    width:335px;
    height:67px;
    /* padding:39px 967px 594px 138px; */
    left: 138px;
    top: 39px;
}
.right-content {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}
.right-content a {
    position: absolute;
}
.right-content a:first-child {
    width: 119px;
    height: 36px;
    left: 906px;
    top: 54px;
}
.right-content a:nth-child(2) {
    width: 72px;
    height: 36px;
    left: 1075px;
    top: 54px;
}
.right-content a:nth-child(3) {
    width: 106px;
    height: 36px;
    left: 1196px;
    top: 54px;
}
/* .content-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 133px;
} */

.main-content p:first-child {
    position: absolute;
    width: 488px;
    height: 168px;
    margin-top:0;
    margin-bottom:10px;
    left: 477px;
    top: 239px;
    font-weight: 800;
    font-size: 70px;
    line-height: 84px;
}
.main-content p:nth-child(2) {
    position: absolute;
    width: 499px;
    height: 43px;
    left: 471px;
    top: 417px;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
}
/* .middle-content-wrapper {
    margin:100px 0;
} */

/* .middle-content {
    display:flex;
    justify-content: center;
    flex-direction:row;
} */
.middle-content img {
    border-radius:25px;
    object-fit: cover;
}
.middle-content p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #143642;
}
/* .who-are-we-desc {
    position: absolute;
    margin-top:45px;
    width: 282px;
    height: 58px;
    left: 730px;
    top: 800px;
} */

.who-are-we {
    position: absolute;
    /* border:3px solid aqua; */
    width: 690px;
    left: 80px;
    top: 800px;
}
.who-are-we img {
    width:345px;
    margin: 0px 25%;
    height: 460px;
}
.middle-content h1 {
    position:absolute;
    color:#0F8B8D;
    font-size:48px;
}
.who-are-we-desc h1 {
    width: 282px;
    height: 58px;
    left: 730px;
    top: 800px;
    margin:0;
}
.who-are-we-desc span {
    position: absolute;
    width: 278px;
    height: 5px;
    left: 730px;
    top: 878px;
    background: #EC9A29;
}
.who-are-we-desc p {
    position: absolute;
    width: 452px;
    height: 116px;
    left: 730px;
    top: 903px;
}
.product-showcase-desc h1 {
    position: absolute;
    width: 400px;
    height: 58px;
    left: 257px;
    top: 1360px;
    margin: 0;
}
.product-showcase-desc span {
    position: absolute;
    width: 399px;
    height: 5px;
    left: 257px;
    top: 1438px;
    background: #EC9A29;
}
.product-showcase-desc p {
    position: absolute;
    width: 425px;
    height: 58px;
    left: 257px;
    top: 1463px;
}
.product-showcase-desc a {
    position: absolute;
    width: 335px;
    height: 70px;
    left: 257px;
    top: 1566px;
    background: #A8201A;
    border-radius: 55px;
}
.product-showcase-desc a p {
    position: absolute;
    width: 236px;
    height: 29px;
    left: 50px;
    top: 20px;
    margin:0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 29px;
    text-align: center;
    color: #F9FBFE;
}
.product-showcase {
    position: absolute;
    width: 335px;
    height: 503px;
    left: 848px;
    top: 1260px;
}
.product-showcase img{
    position: absolute;
    width:335px;
    height: 360px;
    margin:25% 0;
}

.hang-out {
    position: absolute;
    width: 807px;
    height: 453px;
    left: 80px;
    top: 1795px;
}
.hang-out img {
    width:455px;
    height:453px;
    margin:0 25%;
}
.hang-out-desc h1 {
    position: absolute;
    width: 405px;
    height: 58px;
    left: 848px;
    top: 1795px;
    margin:0;
}
.hang-out-desc span {
    position: absolute;
    width: 381px;
    height: 5px;
    left: 848px;
    top: 1873px;
    background: #EC9A29;
}
.hang-out-desc p {
    position: absolute;
    width: 398px;
    height: 87px;
    left: 848px;
    top: 1898px;
}
.hang-out-desc a {
    position: absolute;
    width: 335px;
    height: 70px;
    left: 848px;
    top: 2030px;
    background: #A8201A;
    border-radius: 55px;
}
.hang-out-desc a p {
    color: #F9FBFE;
    position: absolute;
    width: 148px;
    height: 29px;
    left: 93px;
    top: 20px;
    margin:0;
}
.find-us {
    position: absolute;
    width: 855px;
    height: 58px;
    left: 293px;
    top: 2348px;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
}
.find-us h1 {
    margin:0;
}
.find-us span {
    color: #EC9A29;
    border-bottom: 3px solid #EC9A29;
}
.find-us-feed {
    position: absolute;
}
.find-us-feed img:first-child {
    position: absolute;
    width: 237px;
    height: 237px;
    left: 257px;
    top: 2456px;
}
.find-us-feed img:nth-child(2) {
    position: absolute;
    width: 237px;
    height: 237px;
    left: 602px;
    top: 2456px;
}
.find-us-feed img:nth-child(3) {
    position: absolute;
    width: 237px;
    height: 237px;
    left: 947px;
    top: 2456px;
}.find-us-feed img:nth-child(4) {
    position: absolute;
    width: 237px;
    height: 237px;
    left: 257px;
    top: 2743px;
}.find-us-feed img:nth-child(5) {
    position: absolute;
    width: 237px;
    height: 237px;
    left: 602px;
    top: 2743px;
}.find-us-feed img:nth-child(6) {
    position: absolute;
    width: 237px;
    height: 237px;
    left: 947px;
    top: 2743px;
}

.ask h1 {
    position: absolute;
    width: 280px;
    height: 58px;
    left: 580px;
    top: 3080px;
}
.ask p {
    position: absolute;
    width: 877px;
    height: 29px;
    left: 282px;
    top: 3158px;
}
.ask a {
    position: absolute;
    width: 335px;
    height: 70px;
    left: 552px;
    top: 3207px;
    background: #A8201A;
    border-radius: 55px;
    margin-top:20px;
}
.ask a p {
    position: absolute;
    width: 125px;
    height: 29px;
    left: 110px;
    top: 20px;
    margin:0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F9FBFE;
}
.footer {
    position: absolute;
    width: 1440px;
    height: 460px;
    left: 0px;
    top: 3377px;
    background: #143642;
    border-radius: 30px;
}
.footer-left img {
    position: absolute;
    width: 335px;
    height: 67px;
    left: 138px;
    top: 80px;
}
.footer-left img:nth-child(2) {
    width:40px;
    height:32px;
    position: absolute;
    left: 138;
    top: 178px;
    bottom: 6.52%;
    fill: #F9FBFE;
    color: #F9FBFE;
    background:#F9FBFE;
}